<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Edit or Update Your Adventure Details</h1>
  </div>

  <div class="w3-container">
    <%= render 'form', adventure: @adventure %>
    <p><%= link_to 'Cancel', @adventure %></p>
  </div>
</div>
