<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Share Your Adventure</h1>
    <h6>Help others discover Sasebo by showing us where you like to eat, shop, and explore.</h6>
  </div>

    <%= render 'form', adventure: @adventure %>

</div>
