<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Fukuoka, Japan</h1>
  </div>

  <div class="w3-row-padding">
    <div class="w3-twothird">
      <h6>Fukuoka (福岡市) is the capital city of Fukuoka Prefecture, situated on the northern shore of the Japanese island of Kyushu.</h6>
      <p>Fukuoka is about two hours away from Sasebo but you have many options on how to get there. The MWR Information, Tickets, and Travel (ITT) office on base frequently arranges day trips to Fukuoka for a very reasonable fee. During the holiday shopping season, the ITT bus will take you to the heart of the Tenjin shopping district where you will find the Apple Store, H&M, Adidas, Eddie Bauer, and other recognizable brand names.</p>
      <p>You can also take a train from the Sasebo Train Station to Hakata Station in Fukuoka or take the bus from the Sasebo Bus Station. These are both inexpensive options and ideal if you spend all day walking and would like to relax on the drive back. If you have a large group or plan on bringing back large items from a Costco or IKEA visit, driving to Fukuoka is relatively easy. You should budget to spend about $60 for tolls (in a small vehicle).</p>
      <p>Aside from the shopping and many tourist destinations, Fukuoka has an airport for international and domestic travelers. It also has the only night veterinary clinic on the island of Kyushu.</p>
      <p><input type="button" class="w3-btn w3-red" value="View Fukuoka Adventures" onclick="window.location.href='http://www.hellosasebo.com/adventures/search?utf8=%E2%9C%93&search=Fukuoka'"></p>
    </div>
    <div class="w3-third">
      <img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic14.jpg" alt="Fukuoka" style="width:100%">
    </div>

</div>
