<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>A Sasebo Code Club Project</h1>
    <h6>We're learning to program. Come learn with us!</h6>
  </div>

  <div class="w3-container">
    <p>The Sasebo Code Club is a group of aspiring nerds who get together every week to learn to program. We meet at the USO in Nimitz Park every Wednesday morning from 9:30 am to 11:30 am. The USO is quiet, comfortable, and child-friendly. If you're interested in learning how to code, come learn with us!</p>
    <p>This site was built using a tutorial for a Rails Girls workshop held in Los Angeles. The idea was to create a bucket list of things to see and do in the event you ever had to leave your city. That may seem unlikely for most but it's just every day life for military spouses, right? I'm sure the ladies in L.A. had fun but <em>dude,</em> this was <strong>totally</strong> written for us!</p>
    <p>If you want to set up an Adventure App for your own community, check out the Rails Girls LA tutorial or clone this repository on GitHub.</p>

  <h3>Stay Busy. Bloom Where You Are Planted.</h3>
    <p>If he or she is lucky, every military spouse will learn two things in their military spouse journey: stay busy and bloom where you are planted. This gift of knowledge gets us through deployments, underways, and the never-ending rotation of duty days. It helps us fight the urge to isolate ourselves and encourages us to embrace and engage our new community.</p>
    <p>This project, with community input, will help make it a tiny bit easier for new arrivals to stay busy and bloom in Japan. I hope you find it useful.</p>
  </div>
</div>
