<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Hello, Neighbor!</h1>
  </div>

  <div class="w3-container">
    <p>I built this website in 2017 while stationed at Fleet Activities Sasebo. I wanted a way to document the interesting places I visited and more importantly, I wanted an easy way to share them with my friends and neighbors. If you are stationed in Sasebo, you know it can be tough sometimes to navigate the roads when you don't know where you're going or what you're looking for.</p>
    <p>After joining the Sasebo Code Club at the Nimitz Park USO, I learned about Ruby on Rails which led me to discover <a href="http://railsgirls.com/" target="_blank">Rails Girls</a>. They are a non-profit organization with teams all over the world teaching girls and women how to code. That let me to a bucket list tutorial by the <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638" target="_blank">Rails Girls team in Los Angeles</a>. If you are interested in coding your own bucket list or adventure site, check out Rails Girls and get started! If you have any questions, <a href="/contacts/new" target="_self">send me a message</a>. I am no longer in Japan but I am happy to help.</p>

    <p>&mdash; <em>Angela Downs</em></p>
  </div>
</div>
