<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Hello, Neighbor!</h1>
  </div>

  <div class="w3-container">
    <p>The best part about moving frequently is discovering new places to eat, shop, and explore. It's even better if you have a friend to show you the way! With community input, we can make it a tiny bit easier for new arrivals to explore Sasebo and the surrounding area and really get to know what makes Sasebo great. If you would like to share your adventures with others, send an email to angela AT hellodiplomat.com.</p>

    <h3>A "Hello, Diplomat!" Project</h3>
    <p>I started "Hello, Sasebo!" in 2017 when my family was stationed in Japan. Since then, life (and the Navy!) has taken us on to new adventures but the site lives on! To continue my mission of helping other families discover new places to eat, shop, and explore, I have launched "Hello, Diplomat!" as an umbrella to incorporate adventures from people around the world who, like us, move and travel frequently. I hope you find it useful and consider sharing your adventures, wherever life takes you!</p>

    <h4>The Nuts and Bolts</h4>
    <p>"Hello, Sasebo!" was built using Ruby on Rails; specifically by following a <a href="http://railsgirls.com/" target="_blank">Rails Girls</a> tutorial modified by the <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638" target="_blank">Rails Girls team in Los Angeles</a>.</p>

    <h4>Graphics and Photos</h4>
    <p>The "Adventure Blowfish Balloon" graphic was handdrawn by Nick Downs and commissioned specifically for "Hello, Sasebo!." The city photos on the main page are from Unsplash.com and the individual adventure photos were taken and uploaded by the individual adventure author.</p>
    <p>&mdash; <em>Angela, Founder at Hello, Diplomat!</em></p>
  </div>
</div>
