<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Hello, Neighbor!</h1>
  </div>

  <div class="w3-container">
    <p>The purpose of this site is to compile a directory of places to eat, shop, and explore around Sasebo. There are so many hidden gems but finding them can be hard if you don't have a friend to show you the way. With community input, we can make it a tiny bit easier for new arrivals to explore our town and get to know our community. If you would like to contribute, email me at angela AT hellodiplomat.com.</p>

    <h3>The Nuts And Bolts</h3>
    <p>Hello, Sasebo! was built using Ruby on Rails; specifically by following a <a href="http://railsgirls.com/" target="_blank">Rails Girls</a> tutorial modified by the Rails Girls team in Los Angeles. If you're interested in creating a similar app for your town, you can find the modified tutorial <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638" target="_blank">here</a>.</p>
    <p>&mdash; <em>Angela Downs</em></p>
  </div>
</div>
