<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Hello, Neighbor!</h1>
  </div>

  <div class="w3-container">
    <h4>Moving to a new town can be tough but it's so much easier when you have a friend to show you the way!</h4>
    <p>Living overseas or away from "home" can be challenging, especially if you do not speak the language. It's easy to slip into isolation and miss out on the amazing things around you. Luckily, "Hello, Sasebo!" makes it a little easier by showing you some neat places to visit and giving you easy to understand directions on how to get there!</p>
    <p>If you would like to share your adventures in Sasebo, to help make it easier for new arrivals to really get to know what makes Sasebo great, <a href="/contacts/new" target="_self">send me a message</a>. We would love to have your contributions!</p>

    <h2>A "Hello, Diplomat!" Project</h2>
    <p>My husband Nick and I started "Hello, Sasebo!" in 2017 as a way to document our experiences and share them with our friends and neighbors. Feeling like we were helping new arrivals and giving back to our community made it easier and more exciting to seek out new adventures. Sharing our experiences really helped us to feel more connected and at home in our host country. Our mission with "Hello, Diplomat!" is to create a world-wide version that keeps our community connected so that we know no matter where we go, we'll have a friend there to show us the way.</p>

    <h3>The Nuts and Bolts</h3>
    <p>"Hello, Sasebo!" was built using Ruby on Rails; specifically by following a <a href="http://railsgirls.com/" target="_blank">Rails Girls</a> tutorial modified by the <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638" target="_blank">Rails Girls team in Los Angeles</a>. Special thanks to the <a href="https://japan.uso.org/sasebo-nimitz-park" target="_blank">USO at Nimitz Park</a> for providing the space, free wifi, and opportunity to learn a new skill.</p>

    <h3>Graphics and Photos</h3>
    <p>The "Adventure Blowfish Balloon" graphic was handdrawn by Nick Downs and commissioned specifically for the "Hello, Sasebo!" website. The city photos on the main page are from Unsplash.com and the individual adventure photos were taken and uploaded by the individual adventure author.</p>

    <h4>Thanks for visiting!</h4>
    <p>&mdash; <em>Angela, Founder at Hello, Diplomat!</em></p>
  </div>
</div>
