<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>A Sasebo Code Club Project</h1>
    <h6>We're learning to program. Come learn with us!</h6>
  </div>

  <div class="w3-container">
    <p>The Sasebo Code Club is a group of aspiring nerds who get together every week to learn to program. We meet at the USO in Nimitz Park on Wednesday mornings from 9:30 am to 11:30 am. The USO is quiet, comfortable, and child-friendly. If you're interested in learning how to code, come learn with us!</p>
    <p>The purpose of the app is to compile a list of places to eat, shop, and explore. This project, with community input, will help make it a tiny bit easier for new arrivals to embark on new adventures in Japan. I hope you find it useful.</p>

    <h3>About The Site.</h3>
    <p>This site was built using a tutorial for a <a href="http://railsgirls.com/" target="_blank">Rails Girls</a> workshop held in Los Angeles. The idea was for participants to create a bucket list of things they wanted to see and do in the event they ever had to leave L.A. That may seem unlikely for most but it's just every day life for military spouses, right? I'm sure the ladies in L.A. had fun but <em>dude,</em> this was <strong>totally</strong> written for us!</p>
    <p>If you want to set up an Adventure App for your own community, check out the <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638" target="_blank">Rails Girls LA tutorial</a> or <a href="https://github.com/angeladowns/japan-adventures" target="_blank">clone this repository</a> on GitHub and get started! Then, let us know so we can link to your app.</p>

  </div>
</div>
