<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Hello, Neighbor!</h1>
  </div>

  <div class="w3-container">
    <h4>Living overseas can be tough but it's so much easier when you have a friend to show you the way!</h4>
    <p>My husband and I started "Hello, Sasebo!" in 2017 as a way to document our experiences in Japan and share them with our friends and neighbors. We know how challenging it can be to live overseas, especially if you do not speak the language. It's really easy to miss out on the amazing things around you if you don't have a friend to help show you the way. We hope "Hello, Sasebo!" can be that friend for you!</p>
    <p>If you would like to share your adventures in Sasebo and to be that friend that helps show the way for others, <a href="/contacts/new" target="_self">send me a message</a>. We would love to have your contributions!</p>

    <h2>A "Hello, Diplomat!" Project</h2>
    <p>After transfering to our next duty station, my husband and I decided to continue our mission of helping our friends and neighbors on a more global scale. We launched <a href="http://www.hellodiplomat.com" target="_blank">"Hello, Diplomat!"</a> (because we are all diplomats representing our country abroad, aren't we?) in 2018 and added a monthly newsletter highlighting different adventures and cultures.</p>

    <h3>The Nuts and Bolts</h3>
    <p>"Hello, Sasebo!" was built using Ruby on Rails; specifically by following a <a href="http://railsgirls.com/" target="_blank">Rails Girls</a> tutorial modified by the <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638" target="_blank">Rails Girls team in Los Angeles</a>. Special thanks to the <a href="https://japan.uso.org/sasebo-nimitz-park" target="_blank">USO at Nimitz Park</a> for providing the space, free wifi, and opportunity to learn a new skill.</p>

    <h4>Thanks for visiting!</h4>
    <p>&mdash; <em>Angela, Founder at Hello, Diplomat!</em></p>
  </div>
</div>
