<h1>Japan Adventures</h1>
<h2>A bucket list of things to do in Japan.</h2>

<p>If you were given an opportunity to live in Japan for just a few short years, where would you go and what would you do to make the most of your experience?</p>
