<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Nagasaki, Japan</h1>
    <h6>Nagasaki (長崎市) is the capital and the largest city of Nagasaki Prefecture on the island of Kyushu in Japan.</h6>
  </div>

  <div class="w3-container">
    <p>Visiting Nagasaki, the last city to experience a nuclear attack, is a unique opportunity for Americans stationed in Sasebo. Our countries are forever intertwined by our shared history of war that continues to shape our friendship and alliance today. Getting to Nagasaki from Sasebo is easy and affordable. The ITT Office can help you make train reservations or you can make the trip by car in under 1.5 hours.</p>

    <p>Nagasaki Airport is the closest airport to Sasebo and can be accessed by car, bus or shuttle service, and even a ferry from the Huis ten Bosch theme park. The airport services domestic flights to Tokyo, Osaka, Kobe, and other cities within Japan and international flights to Shanghai and Seoul.</p>

    <p>Nagasaki hosts an annual Lantern Festival that takes over a large part of the city to celebrate Chinese New Year. The festival includes parades, fireworks, music, and lots of food and shopping. While visiting, you should also take time to visit the Nagasaki Atomic Bomb Museum, Peace Park, and the Hypocenter marking ground zero of the atomic bomb.</p>

  </div>
</div>
