<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Nagasaki, Japan</h1>
    <h6>Nagasaki (長崎市) is the capital and the largest city of Nagasaki Prefecture on the island of Kyushu in Japan.</h6>
  </div>

  <div class="w3-container">
    <!-- start slipsum code -->

    <p>Nagasaki is home to the annual Lantern Festival to celebrate the new year. It also has a domestic airport; the closest to Sasebo.</p>

    <!-- end slipsum code -->

    </div>
</div>
