<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Osaka, Japan</h1>
    <h6>Osaka (大阪市) is the capital city of Osaka Prefecture and the second largest metropolitan area in Japan with over 19 million inhabitants. </h6>
  </div>

  <div class="w3-container">
    <p>Historically a merchant city, Osaka has also been known as the "nation's kitchen" and is a favorite spot for foodies visiting Japan. Local favorites includes okonomiyaki (pan-fried batter cake), takoyaki (octopus in fried batter), udon noodles, and oshizushi (pressed sushi). There are also many shops and shopping arcades, including the Tenjinbashi-suji arcade which is considered one of the longest in Japan, stretching over 1.5 miles.</p>
    <p>Getting to Osaka from Sasebo is pretty easy and can be accomplished by car, train, or plane. A flight from Nagasaki takes about an hour, a car ride from Sasebo takes about 8 hours, and a train is somewhere inbetween. The ITT Office can help you make reservations on the train or Shinkansen (bullet train).</p>

  </div>
</div>
