<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Osaka, Japan</h1>
    <h6>Osaka (大阪市) is the capital city of Osaka Prefecture and the second largest metropolitan area in Japan with over 19 million inhabitants. </h6>
  </div>

  <div class="w3-container">
    <!-- start slipsum code -->

    <p>Historically a merchant city, Osaka has also been known as the "nation's kitchen" and is a favorite spot for foodies visiting Japan.</p>

    <!-- end slipsum code -->

    </div>
</div>
