<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Hello, Privacy!</h1>
  </div>

  <div class="w3-container">
    <p>
      Last Updated July 2nd, 2018.
    </p>

    <h2>Privacy Policy</h2>
    <p>
      Hello, Sasebo! is a website designed to help friends and neighbors discover new places to eat, shop, and explore in Japan. Our mission is to provide new friends with a clear path to discovery and adventure.
    </p>

    <p>If you have questions or concerns about anything written in our Privacy Policy, please <a href="/contacts/new" target="_self">send us a message</a>.</p>

    <h2>Collecting and Using Your Information</h2>
    <p>
      We use your information to:</p>
      <ul>
        <li>
          <p>Enable us to provide you with information via our newsletter (should you decide to subcribe) and to improve our website; and</p>
        </li>
        <li>
          <p>To create and administer your account, contact you, and customize your experience on Hello, Sasebo!</p>
        </li>
      </ul>
      <p>
        We collect information in the following ways:
      </p>
      <ul>
        <li>
          <p>Information you provide by completing forms on Hello, Sasebo!, such as our newsletter sign-up forms, account registration, or other forms</p>
        </li>
        <li>
          <p>Details of any requests, activity, or transactions you make through the Services. Hello, Sasebo! partners with other companies (such as MailChimp) for newsletter distribution.</p>
        </li>
        <li>
          <p>Information about your activity on and interaction with Hello, Sasebo!, including use of our website (such as your IP address) and email newsletter (such as what links you click and if and when you open the email) — we use MailChimp for gathering this data;</p>
        </li>
        <li>
          <p>Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem);</p>
        </li>
      </ul>

      <p>
        You may decline to provide us with your information and ask that your information be removed. However, this will limit your ability to register for an account or use our Services. For example, if you decline, you may not receive our email newsletter or contribute adventures. You may review, change or remove your information through your account settings.
      </p>

      <h2>Cookies</h2>
      <p>
        Cookies are bits of text that are placed on your computer’s hard drive or mobile device when you visit certain websites. Cookies hold information that may be accessible by the party that places the cookie, which is either the website itself (first-party cookie) or a third party (third-party cookies). You do have control over cookies, and can refuse the use of cookies by selecting the appropriate setting on your browser. Most browsers will tell you how to stop accepting new cookies, how to be notified when you receive a new cookie, and how to disable or delete existing cookies. Please note, however, that by not accepting or deleting the use of cookies, you may not be able to use the website and our Services.
      </p>
      <p>
        On the website, we use cookies for the following purposes:
      </p>
      <ul>
        <li>To provide authentication where log-in is required so that we can keep you logged in between sessions. The information collected using local storage is stored on your browser and persists after your browser is closed.</li>
      </ul>

      <h2>Who Else Can See Your Information?</h2>
      <p>
        If you contribute an adventure, visitors to the website will be able to see your username and the date you created the adventure. Your username will also be shared in the newsletter should we highlight a contribution or should you win a prize or giveaway. We will not share your first name or last name unless you have used them for your username.
      </p>
      <p>
        The following data will not be publicly displayed or revealed to other users:
      </p>
      <ul>
        <li>Your email address;</li>
        <li>Your mailing address;</li>
        <li>Your IP address;</li>
        <li>Any other private profile information, in accordance with your account settings and profile; and</li>
        <li>Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem).</li>
      </ul>
      <p>
        <strong>We do not sell, rent or trade your personal information. We also do not use Google Analytics or other tracking plug-ins. We value our privacy and yours.</strong>
      </p>

      <h2>Third-Parties</h2>
      <p>
        As noted above, we may share your information with certain trusted third-party services and brand partners (example: MailChimp who helps us deliver the newsletters). When we share data with third-party services that support our delivery of the our Services, we require that they use your information only for the purposes we’ve authorized, and that they protect your personal information at least to the same standards we do. We do not release or sell private and personally identifiable information.
      </p>

      <h2>Data Transfer</h2>
      <p>
        Because Hello, Sasebo! is a US-based website, your information will be collected and processed in the United States. The United States has its own laws governing data protection and government access to information. The rules that protect your personal information under United States law may be different than in your home country. If you choose to use the Services, you need to agree to our <a href="/pages/terms" target="_self">Terms of Use</a>, which set out the contract between Hello, Sasebo! and its users.
      </p>

      <h2>Your Rights</h2>
      <p>
        Users residing in certain countries, including the EU, are afforded certain rights regarding their personal information. Except where an exception or exemption applies, these rights include the ability to access, correct, and request deletion of your personal information. While these rights are not applicable globally, all users can manage their personal information, as further described below, in their account settings. A link to your account settings can be found in the navigation menu on our website.
      </p>
      <p>
        Our site may, from time to time, contain links to and from third-party websites. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
      </p>

      <h2>Users in the European Economic Area</h2>
      <p>
        If You live in the European Economic Area, or a similar international area, You may have additional privacy rights available to you under applicable laws. We will process your requests in accordance with applicable data protection laws. If You would like to exercise any of the below rights, please <a href="/contacts/new" target="_self">send us a message</a> so that we may consider your request in accordance with applicable law:
      </p>

      <ul>
        <li>Right not to provide or withdraw consent: You have the right not to provide or withdraw Your consent at any time.</li>
        <li>Right of access: You may have the right to access the Personal Data that You provided Us.</li>
        <li>Right of erasure: You may have the right to the erasure of Personal Data that We hold about You.</li>
        <li>Right to object to processing: You may have the right to request that Hello, Sasebo! stop processing Your Personal Data and/or to stop sending You marketing communications.</li>
        <li>Right to rectification: You may have the right to require Us to correct any of Your Personal Data.</li>
      </ul>

      <h2>Our Policy on Children</h2>
      <p>
        People under 18 (or the legal age in your jurisdiction) are not permitted to use our services on their own. We do not knowingly collect any personal information from children under the age of 13 and children under 13 are not permitted to register for an account or use our Services. If you believe that a child has provided us with personal information, please <a href="/contacts/new" target="_self">send us a message</a>. If we become aware that a child under age 13 has provided us with personally identifiable information, we’ll delete it.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have questions about this policy, or about the site, please <a href="/contacts/new" target="_self">send us a message</a>. We’ll make every effort to resolve your concerns.
      </p>
    </div>
  </div>
