<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Sasebo, Japan</h1>
    <h6>Sasebo (佐世保) is a core city located in Nagasaki Prefecture, Japan. It is home to the United States Navy at Fleet Activities Sasebo.</h6>
  </div>

  <div class="w3-container">
    <p>Sasebo is a small town by Western standards with a rich shipbuilding history. The deep-water harbor makes it an ideal location for the United States Navy and you can see their influence in the surrounding community. Most notably, the Sasebo Burger. It's fried egg and (overly) generous helping of mayonaise can be intimidating but no tour in Sasebo can be complete without one.</p>
    <p>Despite its small size, finding places to eat, shop, and explore in Sasebo can be challenging. Many places are hidden away in nooks that you might never discover without word-of-mouth recommendation or a shared GPS pin. Overcoming that challenge was the motivation behind launching Hello, Sasebo! Happy exploring and thank you for sharing!</p>
  </div>

</div>
