<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-top">
    <h1>Tokyo, Japan</h1>
  </div>

  <div class="w3-row-padding">
    <div class="w3-twothird">
    <h6>Tokyo (東京市) is the capital of Japan and one of its 47 prefectures. The Greater Tokyo Area is the most populous metropolitan area in the world.</h6>
    <p>Military members and their families on an extended stay in Tokyo can take advantage of affortable, luxury accommodations at The New Sanno Hotel. Located in the prestigious Hiroo residential area of Tokyo, The New Sanno Hotel is equipped with an MWR ITT Office, Navy Exchange, Cyber Cafe, Taxi Service, and much, much more. </p>
    <p>Tokyo has an extensive public transportation system that includes trains and subways, buses, monorails, and trams. Public transportation is safe, reliable, and affordable. There are also two airports that serve the Tokyo area: Haneda Airport and Narita International Airport.</p>
    <p><input type="button" class="w3-btn w3-red" value="Search for Tokyo Adventures" onclick="window.location.href='http://www.hellosasebo.com/adventures/search?utf8=%E2%9C%93&search=Tokyo'"></p>
  </div>

  <div class="w3-third">
    <img src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic1.jpg" alt="Tokyo" style="width:100%">
  </div>
</div>
