<!-- Header -->
  <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    <img class="w3-image" src="https://s3.amazonaws.com/adv-assets/site-images/stock-pic11.jpg" alt="Japan" width="1500" height="700">
      <div class="w3-display-middle" style="width:65%">
        <ul class="w3-navbar w3-black">
         <li><a href="javascript:void(0)" class="tablink" onclick="openLink(event, 'Eat');"><i class="fa fa-cutlery w3-margin-right"></i>Eat</a></li>
         <li><a href="javascript:void(0)" class="tablink" onclick="openLink(event, 'Shop');"><i class="fa fa-shopping-bag w3-margin-right"></i>Shop</a></li>
        <li><a href="javascript:void(0)" class="tablink" onclick="openLink(event, 'See');"><i class="fa fa-camera-retro w3-margin-right"></i>Sight-See</a></li>
       </ul>

       <!-- Tabs -->
  <div id="Eat" class="w3-container w3-white w3-padding-16 myLink">
    <h3>Hungry? Let's fix that!</h3>
    <p>Sushi. Japanese Curry. Burgers. Steak. So many choices, so little time!</p>
    <input class="w3-input w3-border" type="text" placeholder="ex: Sasebo Burger">
    <p><button class="w3-btn w3-dark-grey">Search Restaurants</button></p>
  </div>

  <div id="Shop" class="w3-container w3-white w3-padding-16 myLink">
    <h3>Beetles, bentos, and lucky cats.</h3>
    <p>Japan is full of things you never even knew you needed. Pack up the kids and let's hit the shops!</p>
    <input class="w3-input w3-border" type="text" placeholder="ex: Yen Stores">
    <p><button class="w3-btn w3-dark-grey">Search Shops</button></p>
  </div>

  <div id="See" class="w3-container w3-white w3-padding-16 myLink">
    <h3>Let the adventure begin!</h3>
    <p><span class="w3-tag w3-deep-orange">TICK TOCK!</span> So much to see and do, so little time to do it. Get busy! </p>
    <input class="w3-input w3-border" type="text" placeholder="ex: Sasebo, Japan">
    <p><button class="w3-btn w3-dark-grey">Search Adventures</button></p>
  </div>
</div>
</header>
