<!-- Navigation Bar -->
<ul class="w3-navbar w3-white w3-border-bottom w3-xlarge">
  <li><a href="/adventures" class="w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Japan Adventure App</b></a></li>
  <li ><%= link_to 'New Adventure', new_adventure_path %></li>
  <li><a href="/pages/info">About</a></li>
  <li class="w3-right"><a href="#" class="w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a></li>
</ul>
